---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import billede1 from "../assets/images/billede1.jpg";
import billede2 from "../assets/images/billede2.jpg";
import billede3 from "../assets/images/billede3.jpg";
import billede4 from "../assets/images/billede4.jpg";
import billede5 from "../assets/images/billede5.jpg";
import billede6 from "../assets/images/billede6.jpg";

---
<MainLayout title="Historien om Lego">
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Historien om Lego</h1>

        <p>De legendariske plastikklodser blev opfundet i Danmark i 1940'erne og har siden spredt sig ud over hele verden. Op til årtusindeskiftet begyndte interessen for Lego dog at falde og virksomheden bag havde svært ved at imødese stigende konkurrence og nye krav fra målgruppen. Men efter flere års vaklen fik Lego-forretningen igen fodfæste og har siden 2004 seksdoblet deres omsætning, hjulpet godt på vej af Disney-baserede Lego-modeller og populære animerede Lego-film. Lego benytter i dag outsourcing i produktionen og er gået ind i en ny legetøjsæra med fokus på moderne teknologi, computerspil og robotter, og er også i gang med at udvikle et nyt og mere bæredygtigt materiale, der skal erstatte den nuværende plastik i produktionen. </p>

    

        <Image src={billede1} alt="Legoklodser" />

        <hr>

        <h2> Hvordan startede lego</h2>
          <p>
         Der var ikke meget, der stod i legetøjets tegn, da tømrer- og snedkermester Ole Kirk Christiansen overtog en lille snedkerforretning i Billund i 1916. Heller ikke tømmerhandelen stod i stjernernes gunstige tegn. I 1924 brændte butikken ned, og da økonomisk nedgang ramte Danmark i 1930’erne, så det helt skidt ud. Ole Kirk Christiansen begyndte at præsentere sine produkter i miniaturemodeller, som kunderne kunne se på, når de skulle bestemme sig for, hvad de gerne ville have. Det var disse miniaturemodeller, som inspirerede Christiansen til at prøve lykken som legetøjsmager.
I 1932 begyndte Ole Kirk Christiansen officielt at producere trælegetøj, og to år senere, i 1934, fik han ideen til navnet Lego, der opstod ved, at han satte de to forbogstaver fra ’leg’ og ’godt’ sammen. Det var et tilfælde, at ordet også på latin betyder “jeg sammensætter”. Plasticlegetøj kom på plakaten i 1940, og i 1949 begyndte Lego at producere plasticklodser, som kunne sættes sammen, og som vi kender i dag.

        </p>


        <Image src={billede2} alt="Legoklodser" />

        <hr>

           <h2>Legos udvikling</h2>

        <ul>
=======
            <li> <strong>1932: Etablering af LEGO Group</strong>
                 <br>
Ole Kirk Christiansen, en snedker fra Billund, Danmark, grundlægger LEGO Group under navnet "Lego Fabrikkerne" i en træværksted. Virksomheden producerer oprindeligt trælegetøj som træklodser, træbiler og andre træfigurer.
</li>
 <li> <strong>1947: Overgang til plastik</strong>
                 <br>
Efter Anden Verdenskrig begynder LEGO at eksperimentere med plastikmaterialer til legetøjsproduktionen som en billigere og mere alsidig alternativ til træ. Dette markerer virksomhedens overgang fra træ til plastik.
</li>
 <li> <strong>1949: Introduktion af plastikbyggeklodser</strong>
                 <br>
LEGO introducerer de første versioner af plastikbyggeklodser, kendt som "Automatic Binding Bricks". Disse tidlige klodser har en simpel cylinderform og er ikke helt kompatible med moderne LEGO-klodser, men de lægger grundlaget for fremtidige designs.
</li>
 <li> <strong>1958: Patent på LEGO-klodsen</strong>
                 <br>
LEGO sikrer patent på det ikoniske LEGO-klodsdesign med rør og knopper på toppen og bunden. Dette design, kendt som "stud-and-tube coupling system", gør det muligt for klodserne at forbinde sikkert og let, hvilket åbner op for uendelige byggemuligheder.
</li>
 <li> <strong>1963: Udvidelse af produktlinjen</strong>
                 <br>
LEGO begynder at udvide sin produktlinje med sæt, der omfatter temaer som byer, rumfart, tog og meget mere. Dette giver børn mulighed for at udforske forskellige interesser gennem leg og kreativitet.
</li>
 <li> <strong>1968: Lancering af LEGO Duplo</strong>
                 <br>
LEGO introducerer LEGO Duplo, en serie med større byggeklodser specielt designet til småbørn og førskolebørn. Disse klodser er sikre og nemme at håndtere for de yngste børn og hjælper med at introducere dem til LEGO-systemet.
</li>
 <li> <strong>1974: Indførelse af LEGO Space</strong>
                 <br>
LEGO Space-serien lanceres, hvilket markerer virksomhedens første eventyr ind i science fiction-temaer. Sæt indeholder rumfartøjer, astronauter og fremmede væsner og bliver hurtigt populære blandt børn med interesse for rum og teknologi.
</li>
 <li> <strong>1978: Introduktion af Minifigures:**</strong>
                 <br>
LEGO Minifigures introduceres for første gang. Disse små, bevægelige figurer bliver hurtigt en integreret del af LEGO-sæt og giver børn mulighed for at lege med figurer i deres byggeprojekter og udvide deres fantasiverdener.
</li>
 <li> <strong>1999: Lancering af LEGO MINDSTORMS</strong>
                 <br>
LEGO MINDSTORMS lanceres som en serie af robotbyggesæt, der giver børn og voksne mulighed for at bygge og programmere deres egne robotter. Dette åbner op for nye muligheder inden for STEM-undervisning og kreativ problemløsning.
</li>
 <li> <strong>2003: Økonomisk krise og omstrukturering:**</strong>
                 <br>
LEGO Group oplever en økonomisk krise på grund af ændringer i legetøjsmarkedet og interne udfordringer. For at vende tilbage til rentabilitet implementerer virksomheden omfattende omstruktureringer, herunder nedskæringer og ændringer i produktudviklingsprocessen.
</li>
 <li> <strong>2011: Introduktion af LEGO Friends</strong>
                 <br>
LEGO introducerer LEGO Friends-serien, der er rettet mod et primært kvindeligt publikum og indeholder sæt, der fokuserer på venskab, eventyr og kreativitet. Dette markerer et skift i LEGO's produktstrategi og åbner op for nye målgrupper.
</li>
 <li> <strong>2014: Succesen med LEGO Movie</strong>
                 <br>
LEGO Movie lanceres med stor succes både blandt kritikere og publikum. Filmen inspirerer til en serie af efterfølgende film og spin-offs og hjælper med at styrke LEGO's position som en af verdens førende legetøjsvirksomheder.
</li>
 <li> <strong>2017: Bæredygtighed og miljøengagement</strong>
                 <br>
 LEGO annoncerer en stigning i produktionen af bæredygtige klodser og en langsigtet forpligtelse til at bruge mere miljøvenlige materialer. Dette markerer virksomhedens engagement i at reducere sin miljøpåvirkning og fremme bæredygtig praksis.
</li>
 <li> <strong>2020: Rekordomsætning under COVID-19-pandemien</strong>
                 <br>
- På trods af udfordringer relateret til COVID-19-pandemien rapporterer LEGO Group en rekordomsætning, hvilket understreger mærkets styrke og fortsatte appel på trods af usikkerheden i verden.
</li>


        </ul>

       
        </ul>

        <div class="grid grid-cols-2 gap-4">


			<Image src={billede3} alt="Legoklodser" />
            <Image src={billede4} alt="Legoklodser" />
            <Image src={billede5} alt="Legoklodser" />
            <Image src={billede6} alt="Legoklodser" />

        </div>
        <hr>

    </article>
</MainLayout>